/* Variables */

:root {
    --light-background-color: #f1f1f1;
    --dark-background-color: #476268;
    --text-light: #f5e1da;
    --side-padding: 10%;
    --border-color: #40a798;
}

/* Universal */

body {
    background-color: var(--light-background-color);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: var(--dark-background-color);
    font-size: 225%;
}

h3 {
    font-size: 200%;
}

/* Header */

header {
    background-color: var(--dark-background-color);
    padding: 15px var(--side-padding);
    display: flex;
    justify-content: space-between;
}

h1 {
    color: var(--text-light);
    display: inline;
    font-size: 250%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

a {
    text-decoration: underline;
    color: var(--text-light);
    font-size: 200%;
    cursor: pointer;
}

/* Large Image at the top of page */

#image-holder {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url(../images/stones-2040340_960_720.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: var(--border-color) solid 2px;
    border-bottom: var(--border-color) solid 2px;

}

#image-holder h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    background-color: var(--dark-background-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 10px;
    border: var(--border-color) solid 2px;
    border-right: none;
}

/* Main */

section {
    padding-top: 50px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    display: flex;
}

.left-holder {
    border-right: var(--dark-background-color) solid 2px;
    flex: 0 0 15%;
    margin-right: 10%;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.right-holder {
    flex: 0 0 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* About Section */

#about .right-holder {
    text-align: justify;
}

#about .right-holder img {
    float: right;
    padding-left: 15px;
}
/* Work Section*/
#work .right-holder {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.major-work, .minor-work {
    border-radius: 20px;
    margin-bottom: 15px;
    height: 200px;
    background-color: black;
    position: relative;

}

.major-work {
    width: 100%;
}

.minor-work {
    width: 49%;
}

.work-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--dark-background-color);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    color: var(--text-light);
}

.work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Footer */

footer {
    width: 100%;
    height: 100px;
    background-color: var(--dark-background-color);
}

