:root {
    --light-background-color: #f1f1f1;
    --dark-background-color: #476268;
    --text-light: #f5e1da;
    --side-padding: 10%;
}

body {
    background-color: var(--light-background-color);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--dark-background-color);
    padding: 15px var(--side-padding);
    display: flex;
    justify-content: space-between;
}

h1 {
    color: var(--text-light);
    display: inline;
    font-size: 250%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

a {
    text-decoration: underline;
    color: var(--text-light);
    font-size: 200%;
    cursor: pointer;
}

#image-holder {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url(../images/stones-2040340_960_720.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: black solid 2px;
    border-bottom: black solid 2px;

}

#image-holder h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    background-color: var(--dark-background-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 10px;
}

section {
    padding-top: 50px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    display: flex;
}

.left-holder {
    border-right: var(--dark-background-color) solid 2px;
    flex: 0 0 15%;
    margin-right: 10%;
    padding-top: 10px;
    margin-bottom: 20px;
}

.right-holder {
    flex: 0 0 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    text-align: justify;
}

.right-holder img {
    float: right;
    padding-left: 15px;
}

h2 {
    color: var(--dark-background-color);
    font-size: 225%;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--dark-background-color);
}

