:root {
    --background-color: #f1f1f1;
    --text-light: #f5e1da;
}

body {
    background-color: var(--background-color);
    box-sizing: border-box;
}

header {
    background-color: #476268;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: var(--text-light);
    display: inline;
    font-size: 250%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

a {
    text-decoration: underline;
    color: var(--text-light);
    font-size: 200%;
    cursor: pointer;
}

#image-holder {
    width: 100%;
    height: 450px;
    background-image: url(../images/stones-2040340_960_720.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}